{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>{% translate "Data Registry" %}</title>
    <meta name="description" content="{% translate 'Search for and access datasets by country' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% include "includes/fathom.html" %}
</head>
<body>

{% block header %}
{% include "includes/header.html" %}
{% endblock %}

{% block nav %}{% endblock %}

<main class="container-fluid py-4">
{% block content %}{% endblock %}
</main>

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}

{% block script %}{% endblock %}

</body>
</html>
