{% load i18n %}
{% load static %}
{% load registry %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="alternate" hreflang="x-default" href="{% translate_url 'en' %}">
{% for language_code, _ in LANGUAGES %}
    <link rel="alternate" hreflang="{{ language_code }}" href="{% translate_url language_code %}">
{% endfor %}
    {% include "includes/fathom.html" %}
    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:type" content="{% block og_type %}article{% endblock %}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% block og_image %}{% static 'img/logo.svg' %}{% endblock %}">
    <meta property="og:url" content="{% canonical_url %}">
    <meta name="twitter:card" content="summary">
{% block head %}
{% endblock %}
</head>
<body>

{% block header %}
{% include "includes/header.html" %}
{% endblock %}

{% block nav %}{% endblock %}

<main class="container-fluid position-relative py-4" id="top">
{% block content %}{% endblock %}
</main>

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}

<script src="{% static 'script.js' %}"></script>
{% block script %}{% endblock %}

</body>
</html>
