{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load vue %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div id="detail_app" v-cloak>
        <div class="row">
            <div class="col col-auto">
                <a href="{% url 'search' %}" class="link-back">
                    <chevron-btn class="mr-2 icon"></chevron-btn>
                    <span>{% translate "BACK TO DATASETS SEARCH" %}</span>
                </a>
            </div>
        </div>

        <div class="row header-row">
            <div class="col-auto">
                <div class="flag">
                    <img v-if="data.country_flag" :src="`{% static 'img/flags/' %}${data.country_flag}`">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1>[[ data.country ]] [[ data.title ]] <span class="badge badge-pill collection-badge">{% translate "OCDS" %}</span></h1>
                        <markdown-box tag="p" class="description" :content="data.description"></markdown-box>
                        <button v-if="data.description_long && !descriptionExpanded"
                            class="btn btn-link text-info description-long-btn"
                            @click="() => descriptionExpanded = true">
                            {% translate "Show more" %}
                        </button>
                    </div>
                    <div class="col-auto">
                        <div class="label">{% translate "Available formats:" %}</div>
                        <div class="formats">
                            <span class="format-json mr-4">
                                <check-icon :checked="data.json_format" class="mr-2"></check-icon>
                                <span>JSON</span>
                            </span>
                            <span class="format-excel">
                                <check-icon :checked="data.excel_format" class="mr-2"></check-icon>
                                <span>EXCEL</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-md access-btn" href="#access">
                            <chevron-btn class="mr-4 icon" right></chevron-btn>{% translate "ACCESS" %}
                        </a>
                    </div>
                </div>
                <div class="row" v-if="descriptionExpanded">
                    <div class="col-12 col-lg-10 col-xl-8">
                        <markdown-box tag="p" class="description-long" :content="data.description_long"></markdown-box>
                        <button
                            class="btn btn-link text-info description-long-btn"
                            @click="() => descriptionExpanded = false">
                            {% translate "Show less" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row detail-section overview">
            <div class="col-3 label">
                <h4>{% translate "Overview" %}</h4>
            </div>
            <div class="col-9 data">
                <div>
                    <span class="label">{% translate "Data date range:" %}</span>
                    <span class="value" v-if="activeJob">[[ activeJob.date_from | moment("MMM YYYY") ]] - [[ activeJob.date_to | moment("MMM YYYY") ]]</span>
                </div>
                <div>
                    <span class="label">{% translate "Last updated:" %}</span>
                    <span class="value">[[ data.last_update | moment("D MMM YYYY") ]]</span>
                </div>
                <div>
                    <span class="label">{% translate "Update frequency:" %}</span>
                    <span class="value">
                        <template v-if="data.update_frequency == 'MONTHLY'">{% translate "Monthly" %}</template>
                        <template v-else-if="data.update_frequency == 'HALF_YEARLY'">{% translate "Every 6 months" %}</template>
                        <template v-else-if="data.update_frequency == 'ANNUALLY'">{% translate "Annually" %}</template>
                    </span>
                </div>
                <div>
                    <span class="label">{% translate "OCID prefix:" %}</span>
                    <span class="value" v-if="activeJob">[[ activeJob.ocid_prefix ]]</span>
                </div>
                <div class="license">
                    <span class="label">{% translate "License:" %}</span>
                    <span class="value">
                        <template v-if="data.license_custom">
                            <a :href="data.license_custom.url" target="_blank">[[ data.license_custom.name ]]</a>
                            <markdown-box class="small" :content="data.license_custom.description"></markdown-box>
                        </template>
                        <template v-else-if="activeJob">[[ activeJob.license ]]</template>
                    </span>
                </div>
                <div>
                    <span class="label">{% translate "Language:" %}</span>
                    <span class="value">[[ data.language ]]</span>
                </div>
                <div>
                    <span class="label">{% translate "Retrieved from:" %}</span>
                    <a :href="data.source_url" target="_blank">[[ data.source_url ]]</a>
                </div>
            </div>
        </div>

        <div class="row detail-section data">
            <div class="col-3 label">
                <h4>{% translate "Data avaliable" %}</h4>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-4 item">
                        <h6><check-icon :checked="activeJob.parties_count" class="mr-2"></check-icon>{% translate "Parties" %}</h6>
                        <div>{% translate "Count of parties:" %} <span class="value">[[ activeJob.parties_count ]]</span></div>
                    </div>
                    <div class="col-4 item">
                        <h6><check-icon :checked="activeJob.plannings_count" class="mr-2"></check-icon>{% translate "Plannings" %}</h6>
                        <div>{% translate "Count of planning activities:" %} <span class="value">[[ activeJob.plannings_count ]]</span></div>
                    </div>
                    <div class="col-4 item">
                        <h6><check-icon :checked="activeJob.tenders_count" class="mr-2"></check-icon>{% translate "Tenders" %}</h6>
                        <div>{% translate "Count of tenders:" %} <span class="value">[[ activeJob.tenders_count ]]</span></div>
                        <div>{% translate "Count of tenderers:" %} <span class="value">[[ activeJob.tenderers_count ]]</span></div>
                        <div>{% translate "Count of tender items:" %} <span class="value">[[ activeJob.tenders_items_count ]]</span></div>
                    </div>
                    <div class="col-4 item">
                        <h6><check-icon :checked="activeJob.awards_count" class="mr-2"></check-icon>{% translate "Awards" %}</h6>
                        <div>{% translate "Count of awards:" %} <span class="value">[[ activeJob.awards_count ]]</span></div>
                        <div>{% translate "Count of award items:" %} <span class="value">[[ activeJob.awards_items_count ]]</span></div>
                        <div>{% translate "Count of award suppliers:" %} <span class="value">[[ activeJob.awards_suppliers_count ]]</span></div>
                    </div>
                    <div class="col-4 item">
                        <h6><check-icon :checked="activeJob.contracts_count" class="mr-2"></check-icon>{% translate "Contracts" %}</h6>
                        <div>{% translate "Count of contracts:" %} <span class="value">[[ activeJob.contracts_count ]]</span></div>
                        <div>{% translate "Count of contract items:" %} <span class="value">[[ activeJob.contracts_items_count ]]</span></div>
                        <div>{% translate "Count of contract transactions:" %} <span class="value">[[ activeJob.contracts_transactions_count ]]</span></div>
                    </div>
                    <div class="col-4 item">
                        <h6><check-icon :checked="activeJob.documents_count" class="mr-2"></check-icon>{% translate "Documents" %}</h6>
                        <div>{% translate "Count of documents:" %} <span class="value">[[ activeJob.documents_count ]]</span></div>
                    </div>
                    <div class="col-4 item">
                        <h6><check-icon :checked="activeJob.milestones_count" class="mr-2"></check-icon>{% translate "Milestones" %}</h6>
                        <div>{% translate "Count of milestones:" %} <span class="value">[[ activeJob.milestones_count ]]</span></div>
                    </div>
                    <div class="col-4 item">
                        <h6><check-icon :checked="activeJob.amendments_count" class="mr-2"></check-icon>{% translate "Amendments" %}</h6>
                        <div>{% translate "Count of amendments:" %} <span class="value">[[ activeJob.amendments_count ]]</span></div>
                    </div>
                </div>

                <div class="row" v-if="data.additional_data">
                    <div class="col">
                        <div class="additional_data">
                            <b-icon class="diamond-icon" icon="gem" scale="1.5"></b-icon>
                            <markdown-box :content="data.additional_data"></markdown-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row detail-section quality">
            <div class="col-3 label">
                <h4>{% translate "Data quality" %}</h4>
            </div>
            <div class="col-9">
                <h6>{% translate "Summary" %}</h6>
                <markdown-box class="summary" tag="p" :content="data.summary">
                    <template #empty>
                        {% translate "We have not yet prepared a data quality summary for this dataset." %}
                    </template>
                </markdown-box>

                <template v-if="data.issues">
                    <h6>{% translate "Issues found" %}</h6>

                    <div v-for="n in data.issues" class="issue">
                        <b-icon icon="exclamation-circle"></b-icon>
                        <markdown-box tag="span" :content="n"></markdown-box>
                    </div>
                </template>
            </div>
        </div>

        <div class="row detail-section">
            <div class="col-12">
                <div id="access" class="info_card round access">
                    <h2>{% translate "Access data" %}</h2>
                    <p>
                        {% translate "The OCDS dataset is available to download as a JSON or Excel file." %}
                    </p>

                    <div class="row">
                        <div class="col">
                            <div class="format-wrapper">
                                <h3><check-icon :checked="data.json_format" class="mr-2"></check-icon>{% translate "JSON data" %}</h3>
                                <p class="format-description">
                                    {% blocktrans trimmed %}
                                    Easily access dumps of data from the Open Contracting Partnership's Kingfisher database.
                                    {% endblocktrans %}
                                </p>

                                <div>
                                    <button class="btn btn-md" v-b-modal.json-export-form>
                                        <chevron-btn right></chevron-btn> {% translate "Access JSON data" %}
                                    </button>
                                </div>
                            </div>

                            <modal id="json-export-form" title="{% translate 'Access JSON data' %}">
                                <p class="light">
                                    {% blocktrans trimmed %}
                                    Please, choose how you would like to access the JSON data. You can either download the full history as one dataset
                                    or choose particular year that you are interested in.
                                    {% endblocktrans %}
                                </p>

                                <div class="subtitle">
                                    <b-radio value="full" v-model="jsonType" id="json-full" size="lg" inline>
                                        {% translate "Full history dataset" %}
                                    </b-radio>
                                </div>
                                <p class="light indention">
                                    {% blocktrans trimmed %}
                                    Dataset containing the full history of available data for given source. Depending on the source, the file may be
                                    extremely large and might take some time process.
                                    {% endblocktrans %}
                                </p>

                                <div class="subtitle">
                                    <b-radio value="annual" v-model="jsonType" id="json-annual" size="lg" inline>
                                        {% translate "Particular year dataset" %}
                                    </b-radio>
                                </div>
                                <p class="light indention">
                                    {% blocktrans trimmed %}
                                    This file will contain OCDS data for all fields provided by the publisher, but only for the year selected below.
                                    Depending on the source, the file may be extremely large and may take some time to process.
                                    {% endblocktrans %}
                                </p>

                                <dropdown
                                    v-model="jsonYear"
                                    :options="jsonYearOptions"
                                    class="indention"
                                    placeholder="{% translate 'Choose year' %}"
                                    auto-width
                                >
                                </dropdown>

                                <template #modal-footer>
                                    <div>
                                        <button
                                            class="btn"
                                            @click="submitJsonDownload"
                                            :disabled="jsonDownloadBusy || (jsonType === 'annual' && !jsonYear)"
                                        >
                                            <chevron-btn right class="mr-3"></chevron-btn> {% translate "Download data" %}
                                        </button>
                                    </div>
                                </template>
                            </modal>
                        </div>
                        <div class="col">
                            <div class="format-wrapper">
                                <h3><check-icon :checked="data.excel_format" class="mr-2"></check-icon>{% translate "Excel data via OCP Flatten tool" %}</h3>
                                <p class="format-description">
                                    {% blocktrans trimmed %}
                                    Easily access data in Excel using the Open Contracting Partnership's Flatten Tool. This tool is designed to help users that prefer data
                                    in spreadsheets to either select a small subset of fields / column headings or to customise their spreadsheet output.
                                    {% endblocktrans %}
                                </p>

                                <div>
                                    <button class="btn btn-md" @click="goToExcelData">
                                        <chevron-btn right></chevron-btn> {% translate "Access Excel data" %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="info_card round helpdesk">
                    <div><b-icon icon="question-circle" scale="1.5" class="mr-3"></b-icon> {% translate "Have questions, feedback on this dataset or content on this page?" %}</div>

                    <button v-b-modal.feedback-form>
                        <chevron-btn right class="mr-3"></chevron-btn> {% translate "Contact OCP helpdesk" %}
                    </button>

                    <modal id="feedback-form" @hidden="feedbackSent = false" :content-class="{centered: feedbackSent}">
                        <template v-if="feedbackSent" #default>
                            {% blocktrans trimmed %}
                            <span class="light">You can also email us at</span>
                            <span>{{ feedback_email }}</span><span class="light">. We try to read and respond to all your requests.</span>
                            {% endblocktrans %}
                        </template>
                        <template v-else #default>
                            <p class="light">
                                {% blocktrans trimmed %}
                                Our mission is to continually improve the quality of procurement data. We welcome feedback from the users of data and the open data community.
                                {% endblocktrans %}
                            </p>

                            <p class="light">
                                {% blocktrans trimmed %}
                                To provide specific feedback on the data source, please complete the form below.
                                {% endblocktrans %}
                            </p>

                            <h3 class="subtitle">{% translate "Type of feedback" %}</h3>
                            <dropdown
                                v-model="feedbackType"
                                :options="feedbackTypeOptions"
                                preselect-first
                                auto-width
                            >
                            </dropdown>

                            <h3 class="subtitle">{% translate "Please provide your feedback in more detail below" %}</h3>
                            <textarea v-model="feedback" rows="10">
                            </textarea>
                        </template>

                        <template v-if="feedbackSent" #modal-footer="{ close }">
                            <button class="btn btn-close" @click="close">
                                <chevron-btn right class="mr-3"></chevron-btn> {% translate "Close" %}
                            </button>
                        </template>
                        <template v-else #modal-footer>
                            <div>
                                {% blocktrans trimmed %}
                                <span class="light">You can also email us at</span>
                                <span>{{ feedback_email }}</span><span class="light">. We try to read and respond to all your requests.</span>
                                {% endblocktrans %}
                            </div>
                            <div>
                                <button class="btn btn-submit" @click="submitFeedback" :disabled="!feedback || !feedbackType">
                                    <chevron-btn right class="mr-3"></chevron-btn> {% translate "Submit feedback" %}
                                </button>
                            </div>
                        </template>

                        <template v-if="feedbackSent" #modal-title>
                            <check-icon></check-icon>{% translate "Thanks for your feedback!" %}
                        </template>
                        <template v-else #modal-title>
                            {% trans "Send feedback for" %} "[[ data.country ]] [[ data.title ]]"
                        </template>
                    </modal>
                </div>
            </div>
        </div>
    </div>

    {% chevron_btn_vue_template %}

    {% check_icon_vue_template %}

    {% dropdown_vue_template %}

    {% modal_vue_template %}

    {% markdown_box_vue_template %}

    {{ data|json_script:"detail-data" }}

    <script type="text/javascript">
        const DATA = JSON.parse(document.getElementById('detail-data').textContent)

        const FEEDBACK_TYPE_OPTIONS = [
            '{% trans "Broken link" %}',
            '{% trans "Incorrect metadata" %}',
            '{% trans "New data quality issue found" %}',
            '{% trans "Advice for users of this data source" %}',
            '{% trans "Other" %}',
        ]

        const JSON_YEAR_OPTIONS = JSON.parse("{{ export_years }}")

        const EXPORTER_HOST = "{{ exporter_host }}"
    </script>
{% endblock %}