{% load static %}
{% load i18n %}
{% load vue %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{{ languages|json_script:"languages-data" }}

<div id="header" class="grid-container{% if dark %} dark{% endif %}" v-cloak>
    <div class="row justify-content-center">
        <div class="grid-col">
            <div class="row">
                <div class="col-3">
                    {% if dark %}
                        <img class="logo" src="{% static 'img/logo_dark.svg' %}">
                    {% else %}
                        <img class="logo" src="{% static 'img/logo.svg' %}">
                    {% endif %}
                </div>

                {% if title %}
                <div class="col"><h1>{{ title }}</h1></div>
                {% endif %}

                <div class="col-auto ml-auto">
                    <form action="{% url 'set_language' %}" method="post" ref="language_form">
                        {% csrf_token %}

                        <div id="lang-switch">
                            [[ language.name_local ]] <chevron-btn class="icon" down></chevron-btn>

                            <ul>
                                <template v-for="l in languages">
                                    <li v-if="l !== language" :key="`lang-${l.code}`" @click="setAndSubmit(l)">
                                        [[ l.name_local ]]
                                    </li>
                                </template>
                            </ul>
                        </div>

                        <input type="hidden" name="next" :value="next">
                        <input type="hidden" name="language" :value="language.code">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var LANGUAGES = JSON.parse(document.getElementById('languages-data').textContent)

    var CURRENT_LANGUAGE = "{{ LANGUAGE_CODE }}"
</script>

{% chevron_btn_vue_template %}
