{% extends 'base.html' %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block og_title %}{% block title %}{% translate "Data Registry" %} | {% translate "Open Contracting Partnership" %}{% endblock %}{% endblock %}
{% block og_description %}{% block description %}{% translate "Search for and access datasets by country" %}{% endblock %}{% endblock %}
{% block og_type %}website{% endblock %}

{% block head %}
    {% if LANGUAGE_CODE == "en" %}
    <link rel="canonical" href="/">
    {% else %}
    <link rel="canonical" href="{{ request.path }}">
    {% endif %}
{% endblock %}

{% block content %}
<div class="row mb-5">
    <div class="col-sm-8">
        <h1>{% translate "OCP Data Registry" %}</h1>
        <p class="lead">{% translate "Search for and access datasets by country" %}</p>
    </div>
    <div class="col-sm-4 text-sm-end">
        <a href="{% url 'search' %}" class="btn btn-lg btn-info text-uppercase">{% translate "START YOUR SEARCH" %}</a>
    </div>
</div>

<div class="row gy-5 mb-4">
    <div class="col-md">
        <div class="card rounded-top-start-xl">
            <div class="card-body p-5">
                <h2 class="card-title mb-4 h5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-globe me-1" width="30" height="30" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true" fill="none" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <circle cx="12" cy="10" r="4"/>
                        <path d="M6.75 16a8.015 8.015 0 1 0 9.25 -13"/>
                        <line x1="12" y1="18" x2="12" y2="22"/>
                        <line x1="8" y1="22" x2="16" y2="22"/>
                    </svg>
                    {% translate "Data by Country" %}
                </h2>
                <p class="card-text">
                    {% blocktranslate trimmed %}
                        We designed the Data Registry to help you find and access public procurement datasets that are available in the <a href="https://standard.open-contracting.org/latest/en/primer/what/" target="_blank">OCDS format</a>.
                    {% endblocktranslate %}
                </p>
                <p class="card-text">
                    {% blocktranslate trimmed %}
                        Currently, you can access data from over 100 publishers from around the world as <b>compiled releases</b> with the latest value of each field. <a href="https://standard.open-contracting.org/latest/en/primer/releases_and_records/" target="_blank">Learn about how OCDS data is published</a>.
                    {% endblocktranslate %}
                </p>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card rounded-top-start-xl">
            <div class="card-body p-5">
                <h2 class="card-title mb-4 h5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school me-1" width="30" height="30" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true" fill="none" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"/>
                        <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"/>
                    </svg>
                    {% translate "Learn about the source" %}
                </h2>
                <p class="card-text">
                    {% blocktranslate trimmed %}
                        We describe each dataset's source and coverage, at both an administrative level (public bodies, systems and procedures covered) and technical level (fields covered and linked documents).
                    {% endblocktranslate %}
                </p>
                <p class="card-text">
                    {% blocktranslate trimmed %}
                        We include information on any known data quality issues.
                    {% endblocktranslate %}
                </p>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card rounded-top-start-xl">
            <div class="card-body p-5">
                <h2 class="card-title mb-4 h5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-directions me-1" width="30" height="30" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true" fill="none" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M9 5h10l2 2l-2 2h-10a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1"/>
                        <path d="M13 13h-7l-2 2l2 2h7a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1"/>
                        <line x1="12" y1="22" x2="12" y2="17"/>
                        <line x1="12" y1="13" x2="12" y2="9"/>
                        <line x1="12" y1="5" x2="12" y2="3"/>
                    </svg>
                    {% translate "Get instant access to data" %}
                </h2>
                <p class="card-text">
                    {% blocktranslate trimmed %}
                        Whole OCDS datasets are available to download in bulk, in JSON, Excel and CSV formats.
                    {% endblocktranslate %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
