{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load registry %}

{% block og_title %}{% block title %}{% translate "Search for and download OCDS data" %} | {% translate "OCP Data Registry" %}{% endblock %}{% endblock %}
{% block og_description %}{% block description %}{% translate "Find and filter OCDS datasets to download as JSON, Excel or CSV." %}{% endblock %}{% endblock %}

{% block head %}
    <link rel="canonical" href="{{ request.path }}">
{% endblock %}

{% block script %}
<script>
document.querySelectorAll('.clickable').forEach(div => {
  div.addEventListener('click', event => {
    // Stop "See details" from triggering a second event.
    event.preventDefault()
    window.open(div.querySelector('.click').href, event.ctrlKey || event.metaKey || event.shiftKey ? '_blank' : '_self')
  })
})

document.querySelectorAll('.filterable').forEach(filter => {
  const key = filter.dataset.key
  const method = filter.dataset.method
  filter.querySelectorAll('input').forEach(input => {
    input.addEventListener('change', event => {
      const url = new URL(window.location.href)
      const params = new URLSearchParams(url.search)
      const values = params.getAll(key)
      if (values.includes(input.value)) {
        // {# URLSearchParams has no method to delete a key-value pair, and set() yields "x=a,b" not "x=a&x=b". #}
        params.delete(key)
        values.forEach(value => {
          if (value !== input.value) {
            params.append(key, value)
          }
        })
      } else {
        params[method](key, input.value)
      }
      url.search = params.toString()
      window.location.href = url.toString()
    })
  })
})

document.addEventListener('DOMContentLoaded', () => {
  const select = document.getElementById('country-select')
  select.addEventListener('change', () => {
    const url = select.value
    if (url) {
      window.location.href = url
    }
  })
})
// {# "8. Make the button stationary." https://www.nngroup.com/articles/back-to-top/ #}
const observer = new window.IntersectionObserver(entries => {
  entries[0].target.querySelector('a').toggleAttribute('hidden', !entries[0].isIntersecting)
}, {
  rootMargin: '0px 0px -80px 0px' // {# 5rem #}
})

observer.observe(document.querySelector('.toppable'))
</script>
{% endblock %}

{% block nav %}
<nav class="ms-2 py-4">
    <a href="{% url 'index' %}" class="hstack ms-1 text-uppercase link-dark small">
        {% include "includes/chevron_icon.html" with direction="left" classes="me-2" size="24" only %}
        {% translate "BACK TO REGISTRY HOME" %}
    </a>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3 col-xl-2 mb-0">
        <div class="mb-4">
            <h2 class="h4 mb-0 d-none d-md-block">{% translate "Filters" %}</h2>
            <button class="btn btn-primary d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#filters" aria-controls="filters">
                {% translate "Filters" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                </svg>
            </button>
        </div>

        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="filters" aria-labelledby="filters-label">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title h4" id="filters-label">{% translate "Filters" %}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#filters" aria-label="{% translate "Close" %}"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <a rel="nofollow" href="?" class="{% if request.GET|nonempty %}d-block{% else %}d-none{% endif %} mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi b-iconstack b-icon" width="1em" height="1em" viewBox="0 0 16 16" role="img" focusable="false" aria-hidden="true" fill="currentColor">
                            <g>
                                {# https://icons.getbootstrap.com/icons/slash/ #}
                                <svg class="bi bi-slash b-icon slash" viewBox="0 0 16 16" role="img" focusable="false" aria-hidden="true" fill="currentColor">
                                    <g transform="translate(8 8) scale(1.6 1.6) rotate(90) translate(-8 -8)">
                                        <path d="M11.354 4.646a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                    </g>
                                </svg>
                                {# https://icons.getbootstrap.com/icons/funnel/ #}
                                <svg class="bi bi-funnel b-icon funnel" viewBox="0 0 16 16" role="img" focusable="false" aria-hidden="true" fill="currentColor">
                                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                                </svg>
                            </g>
                        </svg>
                        {% translate "Clear all filters" %}
                    </a>

                    <h3 class="h5">
                        {% translate "Country" %}
                        <a href="#" data-bs-toggle="tooltip" data-bs-title="{% translate "Unlisted countries have no datasets" %}">
                            {% include "includes/info_icon.html" with size="18" classes="text-secondary" only %}
                        </a>
                    </h3>
                    <select id="country-select" class="mb-4 form-select" aria-label="{% translate "Select a country" %}">
                        <option value="?"{% if not request.GET|getitem:'country' %} selected{% endif %}>
                            {% translate "All" %}
                        </option>
        {% for country, count in facets.countries.items %}
                        <option value="?{% replace_query_string_parameter 'country' country %}"{% if country == request.GET|getitem:'country' %} selected{% endif %}{% if not count %} disabled{% endif %}>
                            {{ country }} - {{ count }}
                        </option>
        {% endfor %}
                    </select>
                    {% include "includes/checkboxes.html" with title=_("Region") key="region" items=regions facet_counts=facets.regions %}
                    {% include "includes/radiobuttons.html" with title=_("Data date range") key="date_range" items=date_ranges.items facet_counts=facets.date_ranges content=content %}
                    {% include "includes/checkboxes.html" with title=_("Update frequency") key="update_frequency" items=frequencies facet_counts=facets.frequencies %}
                    {% include "includes/checkboxes.html" with title=_("Data contains") key="counts" items=counts.items facet_counts=facets.counts %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-xl-10">
        <h1 class="h4 mb-4">
{% if request.GET %}
            {% blocktranslate count counter=collections|length trimmed %}
            {{ counter }} dataset matches the selected filters
            {% plural %}
            {{ counter }} datasets match the selected filters
            {% endblocktranslate %}
{% else %}
            {% blocktranslate with counter=collections|length trimmed %}
            Showing all {{ counter }} datasets
            {% endblocktranslate %}
{% endif %}
{% if request.user.is_authenticated %}
            (You are logged in)
{% endif %}
        </h1>

{% for collection in collections %}
        <article class="mb-4 p-3 px-md-5 rounded-2 rounded-top-start-md rounded-bottom-end-md text-bg-light clickable">
            <div class="row">
                <div class="col-md mt-sm-1 mb-3 fixed-9">
    {% if collection.country_flag %}
                    <img src="{% static 'img/flags/'|add:collection.country_flag %}" width="120" alt="" role="presentation" aria-hidden="true" loading="lazy" class="flag-search">
    {% endif %}
                </div>
                <div class="col-md">
                    <h2>{{ collection.country }}: {{ collection.title }}</h2>
                    {{ collection.description|markdownify }}
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <dl class="mb-0 mb-md-n2 list-desc-inline">
                        <dt>
                            {% translate "Data date range:" %}
                            <a href="#" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="{% translate "The time span over which contracting information was first published, using the <code>date</code> field in OCDS" %}">
                                {% include "includes/info_icon.html" with size="16" classes="text-secondary" only %}
                            </a>
                        </dt>
                        <dd>
                            {% firstof collection.date_from|date:"M Y" collection.active_job.date_from|date:"M Y" %} - {% firstof collection.date_to|date:"M Y" collection.active_job.date_to|date:"M Y" %}
                            {% if collection.retrieval_frequency == never %}
                                ({{ collection.get_retrieval_frequency_display }})
                            {% endif %}
                        </dd>
                        <dt>{% translate "Update frequency:" %}</dt>
                        <dd>{{ collection.get_update_frequency_display }}</dd>
                        <dt>{% translate "Last retrieved:" %}</dt>
                        <dd>
                            {{ collection.last_retrieved|date:"M Y" }}
                            {% if not collection.active_job %}
                                {% translate "This dataset has not yet been retrieved." %}
                            {% endif %}
                            {% if collection.retrieval_frequency and collection.retrieval_frequency != never %}
                                ({% blocktranslate with retrieval_frequency=collection.get_retrieval_frequency_display.lower %}retrieved {{ retrieval_frequency }}{% endblocktranslate %})
                            {% endif %}
                        </dd>
                    </dl>
                </div>
                <div class="col-md-auto col-lg">
                    <dl class="mb-n2">
                        <dt class="mb-2">{% translate "Available formats:" %}</dt>
                        <dd class="d-inline-block text-uppercase me-2">
                            {% include "includes/check_icon.html" with checked=collection.files.jsonl.by_year only %}JSON
                        </dd>
                        <dd class="d-inline-block text-uppercase me-2">
                            {% include "includes/check_icon.html" with checked=collection.files.xlsx.by_year only %}Excel
                        </dd>
                        <dd class="d-inline-block text-uppercase">
                            {% include "includes/check_icon.html" with checked=collection.files.csv.by_year only %}CSV
                        </dd>
                    </dl>
                    <a href="{% url 'detail' collection.id %}" class="hstack justify-content-end link-primary click">
                        {% include "includes/chevron_icon.html" with direction="right" classes="me-2" size="24" only %}
                        {% translate "See details" %}
                    </a>
                </div>
            </div>
        </article>
{% endfor %}
    </div>
</div>

{# https://moderncss.dev/pure-css-smooth-scroll-back-to-top/ #}
{# https://www.nngroup.com/articles/back-to-top/ #}
<div class="d-none d-md-block position-absolute toppable">{# "4. Have one sticky Back to Top link per page" #}
    <a href="#top" class="position-sticky btn btn-sm btn-dark" hidden>{# "5. Keep the button small" "6. Make the button stand out visually" #}
        {% translate "Back to Top" %}{# "3. Label the button Back to Top" #}
    </a>
</div>
{% endblock %}
