{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load registry %}

{% block content %}
<div class="row">
    <div class="col">
        <a href="{% url 'index' %}" class="d-flex align-items-center text-body text-uppercase small">
            {% icon_chevron "left" "mr-2" %}
            {% translate "BACK TO REGISTRY HOME" %}
        </a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-3 col-xl-2 d-none d-md-block mb-5">
        <h2 class="h4">{% translate "Filters" %}</h2>

        <a rel="nofollow" href="?" class="{% if request.GET %}d-block{% else %}d-none{% endif %} mt-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi b-iconstack b-icon" viewBox="0 0 16 16">
                <g>
                    {# https://icons.getbootstrap.com/icons/slash/ #}
                    <svg fill="currentColor" class="bi bi-slash b-icon slash" viewBox="0 0 16 16">
                        <g><g transform="translate(8 8) scale(1.6 1.6) rotate(90) translate(-8 -8)">
                            <path d="M11.354 4.646a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </g></g>
                    </svg>
                    {# https://icons.getbootstrap.com/icons/funnel/ #}
                    <svg fill="currentColor" class="bi bi-funnel b-icon funnel" viewBox="0 0 16 16">
                        <g><g transform="translate(8 8) scale(0.8 0.8) translate(-8 -8)">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                        </g></g>
                    </svg>
                </g>
            </svg>
            {% translate "Clear all filters" %}
        </a>

        <h3 class="h5 mt-4">{% translate "Country starting with" %}</h3>
        <ul class="list-inline letters">
{% for letter in facets.letters %}
            <li class="list-inline-item mb-1 mr-0 text-center">
    {% if facets.letters|get_item:letter %}
                <a rel="nofollow" href="?{% if letter == request.GET|get_item:"letter" %}{% remove_query_string_parameter 'letter' %}{% else %}{% replace_query_string_parameter 'letter' letter %}{% endif %}" title="{% blocktranslate count counter=facets.letters|get_item:letter %}1 dataset{% plural %}{{ counter }} datasets{% endblocktranslate %}" class="d-inline-block text-decoration-underline{% if letter == request.GET|get_item:"letter" %} bg-primary-20 font-weight-bold{% elif facets.letters|get_item:letter %} border border-secondary{% endif %}">
                    {{ letter }}
                </a>
    {% else %}
                <span class="d-inline-block">{{ letter }}</span>
    {% endif %}
            </li>
{% endfor %}
        </ul>

        {% radiobuttons "Data date range" "date_range" date_ranges.items facets.date_ranges %}
        {% endradiobuttons %}
        {% checkboxes "Update frequency" "update_frequency" frequencies facets.frequencies %}
        {% checkboxes "Data contains" "counts" counts.items facets.counts %}
    </div>

    <div class="col-md-9 col-xl-10">
        <h1 class="h4">
{% if request.GET %}
            {% blocktranslate count counter=collections|length trimmed %}
            {{ counter }} dataset matches the selected filters
            {% plural %}
            {{ counter }} datasets match the selected filters
            {% endblocktranslate %}
{% else %}
            {% blocktranslate with counter=collections|length trimmed %}
            Showing all {{ counter }} datasets
            {% endblocktranslate %}
{% endif %}
{% if request.user.is_authenticated %}
            (You are logged in)
{% endif %}
        </h1>

        {% for collection in collections %}
        <div class="mt-4 px-3 px-md-5 py-3 rounded-lg rounded-top-left-md rounded-bottom-right-md bg-light clickable">
            <div class="row">
                <div class="col-md mb-3 pt-md-2 fixed-9">
{% if collection.country_flag %}
                    <img src="{% static 'img/flags/' %}{{ collection.country_flag }}" alt="" class="img-fluid">
{% endif %}
                </div>
                <div class="col-md">
                    <h2>{{ collection.country }}: {{ collection.title }}</h2>
                    {{ collection.description|markdownify }}
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <dl class="mb-0 mb-md-n2 list-desc-inline">
                        <dt>{% translate "Data date range:" %}</dt>
                        <dd>{{ collection.date_from|date:"M Y" }} - {{ collection.date_to|date:"M Y" }}</dd>
                        <dt>{% translate "Retrieval frequency:" %}</dt>
                        <dd>{{ collection.get_update_frequency_display }}</dd>
                        <dt>{% translate "Last retrieved:" %}</dt>
                        <dd>{{ collection.last_update|date:"M Y" }}</dd>
                    </dl>
                </div>
                <div class="col-md-auto col-lg">
                    <p class="mb-2 text-thin">{% translate "Available formats:" %}</p>
                    <ul class="mb-2 list-inline">
                        <li class="list-inline-item text-uppercase">
                            {% icon_check collection.json_format %}JSON
                        </li>
                        <li class="list-inline-item text-uppercase">
                            {% icon_check collection.excel_format %}Excel
                        </li>
                        <li class="list-inline-item text-uppercase">
                            {% icon_check collection.csv_format %}CSV
                        </li>
                    </ul>
                    <a href="{% url 'detail' collection.id %}" class="d-flex align-items-center justify-content-end text-primary click">
                        {% icon_chevron "right" "mr-2" %}
                        {% translate "See details" %}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
