{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load vue %}

{% block header %}
    {% include 'header.html' with title=_("Dataset by Country") %}
{% endblock %}

{% block content %}
    <div id="search_app" v-cloak>
        <div class="row">
            <div class="col col-3">
                <a href="{% url 'index' %}" class="link-back">
                    <chevron-btn class="mr-2 icon"></chevron-btn>

                    <span>{% translate "BACK TO REGISTRY HOME" %}</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col col-3 col-md-4 filter">
                <h4>{% translate "Filters" %}</h4>

                <div class="country-title">
                    <h6>{% translate "Country starting with" %}</h6>
                    <button class="btn btn-link text-info" @click="setCountryFilter()">
                        <b-iconstack class="clear-selection">
                            <b-icon stacked class="slash" icon="slash" rotate="90" scale="1.6"></b-icon>
                            <b-icon stacked class="funnel" icon="funnel" scale="0.8"></b-icon>
                        </b-iconstack>
                        {% translate "Clear selection" %}
                    </button>
                </div>

                <div class="country">
                    <div v-for="n in alphabet" :key="n">
                        <span class="letter" @click="setCountryFilter(n)"
                            :class="{selected: countryFilter == n, 'has-data': countriesWithData.includes(n)}">
                            [[ n ]]
                        </span><template v-if="n != 'Z'">|</template>
                    </div>
                </div>

                <h6>{% translate "Data date range" %}</h6>

                <dropdown
                    :options="dateFilterOptions"
                    v-model="dateFilter"
                    class="date"
                    preselect-first
                    auto-width
                >
                </dropdown>

                <template v-if="filter.date == 'custom'">
                    <b-form-datepicker
                        v-model="dateFrom"
                        size="sm"
                        right
                        :date-format-options="{ year: 'numeric', month: 'short', day: 'numeric' }"
                        placeholder="{% translate 'Start date' %}"
                        :max="dateTo"
                        reset-button
                        label-reset-button="{% translate 'Reset' %}"
                    ></b-form-datepicker>
                    <b-form-datepicker
                        v-model="dateTo"
                        size="sm"
                        right
                        :date-format-options="{ year: 'numeric', month: 'short', day: 'numeric' }"
                        placeholder="{% translate 'End date' %}"
                        :min="dateFrom"
                        reset-button
                        label-reset-button="{% translate 'Reset' %}"
                    ></b-form-datepicker>
                </template>

                <h6>{% translate "Update frequency" %}</h6>
                <div class="form-group form-check">
                    <input v-model="frequencyFilter" value="MONTHLY" type="checkbox" class="form-check-input" id="f-montly">
                    <label class="form-check-label" for="f-montly">{% translate "Monthly" %}</label>
                </div>
                <div class="form-group form-check">
                    <input v-model="frequencyFilter" value="HALF_YEARLY" type="checkbox" class="form-check-input" id="f-half-yearly">
                    <label class="form-check-label" for="f-half-yearly">{% translate "Every 6 months" %}</label>
                </div>
                <div class="form-group form-check">
                    <input v-model="frequencyFilter" value="ANNUALLY" type="checkbox" class="form-check-input" id="f-annually">
                    <label class="form-check-label" for="f-annually">{% translate "Annually" %}</label>
                </div>

                <h6>{% translate "Data contains" %}</h6>
                <div class="form-group form-check">
                    <input v-model="dataFilter" value="parties_count" type="checkbox" class="form-check-input" id="d-parties">
                    <label class="form-check-label" for="d-parties">{% translate "Parties data" %}</label>
                </div>
                <div class="form-group form-check">
                    <input v-model="dataFilter" value="plannings_count" type="checkbox" class="form-check-input" id="d-plannings">
                    <label class="form-check-label" for="d-plannings">{% translate "Plannings data" %}</label>
                </div>
                <div class="form-group form-check">
                    <input v-model="dataFilter" value="tenders_count" type="checkbox" class="form-check-input" id="d-tedners">
                    <label class="form-check-label" for="d-tedners">{% translate "Tenders data" %}</label>
                </div>

                <div class="form-group form-check">
                    <input v-model="dataFilter" value="awards_count" type="checkbox" class="form-check-input" id="d-awards">
                    <label class="form-check-label" for="d-awards">{% translate "Awards data" %}</label>
                </div>
                <div class="form-group form-check">
                    <input v-model="dataFilter" value="contracts_count" type="checkbox" class="form-check-input" id="d-contracts">
                    <label class="form-check-label" for="d-contracts">{% translate "Contracts data" %}</label>
                </div>
                <div class="form-group form-check">
                    <input v-model="dataFilter" value="documents_count" type="checkbox" class="form-check-input" id="d-documents">
                    <label class="form-check-label" for="d-documents">{% translate "Documents" %}</label>
                </div>
                <div class="form-group form-check">
                    <input v-model="dataFilter" value="milestones_count" type="checkbox" class="form-check-input" id="d-milestones">
                    <label class="form-check-label" for="d-milestones">{% translate "Milestones data" %}</label>
                </div>
                <div class="form-group form-check">
                    <input v-model="dataFilter" value="amendments_count" type="checkbox" class="form-check-input" id="d-amendments">
                    <label class="form-check-label" for="d-amendments">{% translate "Amendments data" %}</label>
                </div>
            </div>
            <div class="col col-9 col-md-8">
                <div v-if="busy" class="text-center">
                    <b-icon icon="circle-fill" animation="throb" font-scale="4"></b-icon>
                </div>
                <template v-else>
                    <h4>[[ collections.length ]] {% translate "datasets found" %}</h4>

                    <div v-for="c in collections" :key="`collection-${c.id}`" class="collection-box" @click="goToDetail(c)">
                        <div class="row">
                            <div class="col-auto">
                                <div class="flag">
                                    <img v-if="c.country_flag" :src="`{% static 'img/flags/' %}${c.country_flag}`">
                                </div>
                            </div>
                            <div class="col">
                                <h2>[[ c.country ]] [[ c.title ]] <span class="badge badge-pill collection-badge">{% translate "OCDS" %}</span></h2>
                                <markdown-box tag="p" class="description" :content="c.description"></markdown-box>
                            </div>
                        </div>
                        <div v-if="c.overlap_alert" class="alert alert-danger">
                            <b-icon icon="calendar-x"></b-icon>
                            {% translate "This collection does not completely overlap with the selected date range. Date range matched: " %}
                            <strong>[[ c.overlap_from | moment("MMM YYYY") ]] - [[ c.overlap_to | moment("MMM YYYY") ]]</strong>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <div class="label mb-2">{% translate "Available formats:" %}</div>
                                <div class="format-json mb-2"><check-icon :checked="c.json_format" class="mr-2"></check-icon>JSON</div>
                                <div class="format-excel mb-2"><check-icon :checked="c.excel_format" class="mr-2"></check-icon>EXCEL</div>
                            </div>
                            <div class="col-auto">
                                <div class="mb-2">
                                    <span class="label">{% translate "Data date range:" %}</span>
                                    <span class="value" v-if="c.active_job.date_from && c.active_job.date_to">
                                        [[ c.active_job.date_from | moment("MMM YYYY") ]] - [[ c.active_job.date_to | moment("MMM YYYY") ]]
                                    </span>
                                </div>
                                <div class="mb-2">
                                    <span class="label">{% translate "Update frequency:" %}</span>
                                    <span class="value">
                                        <template v-if="c.update_frequency == 'MONTHLY'">{% translate "Monthly" %}</template>
                                        <template v-else-if="c.update_frequency == 'HALF_YEARLY'">{% translate "Every 6 months" %}</template>
                                        <template v-else-if="c.update_frequency == 'ANNUALLY'">{% translate "Annually" %}</template>
                                    </span>
                                </div>
                                <div class="mb-2">
                                    <span class="label">{% translate "Last updated:" %}</span>
                                    <span class="value">[[ c.last_update | moment("MMM YYYY") ]]</span>
                                </div>
                            </div>
                            <div class="col-auto align-self-end text-info text-right">
                                <a :href="c.detail_url" class="link-detail text-info">
                                    <chevron-btn class="mr-2 icon" right></chevron-btn>
                                    <span>{% translate "See details" %}</span>
                                </a>
                            </div>
                        </div>
                    <div>
                </template>
            </div>
        </div>
    </div>

    {% chevron_btn_vue_template %}

    {% check_icon_vue_template %}

    {% dropdown_vue_template %}

    {% markdown_box_vue_template %}

    {{ collections|json_script:"collections-data" }}

    {% get_current_language as LANGUAGE_CODE %}

    <script type="text/javascript">
        const DATE_FILTER_OPTIONS = [
            {"value": null, "label": '{% trans "All" %}'},
            {"value": "last-year", "label": '{% trans "Past year" %}'},
            {"value": "past-6-months", "label": '{% trans "Past 6 months" %}'},
            {"value": "custom", "label": '{% trans "Custom" %}'}
        ]

        const COLLECTIONS = JSON.parse(document.getElementById('collections-data').textContent)

        var CURRENT_LANGUAGE = "{{ LANGUAGE_CODE }}"
    </script>
{% endblock %}