{% load vue %}

{% template_script "dropdown-template" %}
<b-dropdown
    toggle-tag="div"
    no-caret
>
    <b-dropdown-item
        v-for="(o, i) in options"
        :key="`opt-${i}`"
        :active="isOptionSelected(o)"
        @click="selectOption(o)"
    >
        [[ getOptionLabel(o) ]]
    </b-dropdown-item>

    <template #button-content>
        <div class="row justify-content-between no-gutters">
            <div class="col">
                <span
                    v-if="selected === null && placeholder"
                    class="placeholder"
                >
                    [[ placeholder ]]</span>
                <template v-if="selected">[[ getOptionLabel(selected) ]]</template>
            </div>

            <chevron-btn class="col-auto icon" down></chevron-btn>
        </div>
    </template>
</b-dropdown>
{% template_script_end %}