{% load registry %}

<h3 class="h5">{{ title }}</h3>
<div class="mb-4 filterable" data-key="{{ key }}" data-method="append">
{% for value, label in items %}
    <div class="form-check">
        <input type="checkbox" value="{{ value }}" class="form-check-input" id="f-{{ value }}"{% if value in request.GET|getlist:key %} checked{% endif %}{% if not facet_counts|getitem:value %} disabled{% endif %}>
        <label class="form-check-label" for="f-{{ value }}">
            {{ label }}
    {% if facet_counts|getitem:value %}
            <span class="badge rounded-pill text-bg-info">{{ facet_counts|getitem:value }}</span>
    {% endif %}
        </label>
    </div>
{% endfor %}
</div>
