{% load i18n %}
{% load registry %}

<ul>
{% with files=files|get_item:key %}
    {% if files.full %}
    <li>
        <a href="{% url 'download_export' %}?spider={{ collection.source_id }}&job_id={{ job.id }}&full=true&suffix={{ suffix }}" rel="nofollow" download>
            {% translate "All time" %} ({{ files.full|filesizeformat }})
        </a>
    </li>
    {% endif %}
    {% for file in files.files|dictsortreversed:"year" %}
    <li>
        <a href="{% url 'download_export' %}?spider={{ collection.source_id }}&job_id={{ job.id }}&year={{ file.year }}&suffix={{ suffix }}" rel="nofollow" download>
            {{ file.year }} ({{ file.size|filesizeformat }})
        </a>
    </li>
    {% empty %}
        {% if not hideempty %}
    <li class="text-muted">
        {% translate "Files not yet available." %}
    </li>
        {% endif %}
    {% endfor %}
{% endwith %}
</ul>
