.nowrap {
    /*
    Django intentionally uses nowrap for foreign keys on change_list.html. This makes the tables wider than the screen.
    https://code.djangoproject.com/ticket/11447
    */
     white-space: normal;
}

.ms-0 {
    margin-left: 0 !important;
}