/* biome-ignore-all lint/complexity/noImportantStyles: Django */

.nowrap {
    /*
    Django intentionally uses nowrap for foreign keys on change_list.html. This makes the tables wider than the screen.
    https://code.djangoproject.com/ticket/11447
    */
    white-space: normal;
}

.ms-0 {
    margin-left: 0 !important;
}
.unordered-list {
    margin-left: 0 !important;
    padding-left: 2em !important;
}
.unordered-list li {
    list-style: disc !important;
}

/* Job status */

.recent-jobs {
    display: flex;
    gap: 2px;
}

.recent-job {
    display: inline-block;
    width: 11px;
    height: 11px;
    cursor: help;
}

.job-pass {
    background-color: var(--header-bg);
}

.job-fail {
    background-color: var(--error-fg);
}
