@import 'custom';

// https://stackoverflow.com/a/69212560/244258
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}

.text-bg-warning code {
    color: $dark
}

// Grid description list

.list-desc-grid {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: $spacer;
}

.list-desc-grid dt {
    grid-column-start: 1;
    margin-bottom: 0.5rem;
}

.list-desc-grid dd {
    grid-column-start: 2;
}

// Inline description list

.list-desc-inline {
    @include clearfix;
}

.list-desc-inline dt,
.list-desc-inline dd {
    float: left;
}

.list-desc-inline dt {
    clear: left;
    padding-right: $spacer * 0.25;
}

// Single corner radius

.rounded-bottom-end-md {
    border-bottom-right-radius: $spacer * 1.25 !important;
}

.rounded-top-start-md {
    border-top-left-radius: $spacer * 1.25 !important;
}

.rounded-top-start-lg {
    border-top-left-radius: $spacer * 2 !important;
}

.rounded-top-start-xl {
    border-top-left-radius: $spacer * 2.5 !important;
}

// Text

.extra-small {
    @include font-size($sub-sup-font-size);
}

// Fixed-width columns

@for $i from 1 through 12 {
    .fixed-#{$i} {
        flex: 0 0 $spacer * $i;
    }
}

@include media-breakpoint-up(sm) {
    @for $i from 1 through 12 {
        .fixed-sm-#{$i} {
            flex: 0 0 $spacer * $i;
        }
    }
}

@include media-breakpoint-up(md) {
    @for $i from 1 through 12 {
        .fixed-md-#{$i} {
            flex: 0 0 $spacer * $i;
        }
    }
}

// Chevron button

.chevron-btn {
    .circle {
        color: $secondary;
    }
    .chevron {
        color: white;
    }
}

.bg-primary .chevron-btn {
    .circle {
        color: inherit;
    }
    .chevron {
        color: $primary;
    }
}

.text-bg-info .chevron-btn,
.btn-info .chevron-btn {
    .circle {
        color: inherit;
    }
    .chevron {
        color: $info;
    }
}

.text-bg-light .chevron-btn,
.btn-light .chevron-btn {
    .circle {
        color: $primary;
    }
}

*:hover > .chevron-btn {
    .circle {
        color: inherit;
    }
}

// Letters

$letter-size: $spacer * 2;

.letters {
    a,
    span {
        width: $letter-size;
        height: $letter-size;
        border-radius: $letter-size;
        line-height: $letter-size;
    }
}

// Flags

.flag-search {
    max-height: 120px;
}
.flag-detail {
    max-height: 168px;
}

// Tooltip

.tooltip-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.tooltip-trigger {
    color: $secondary;
    cursor: help;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
        color: $primary;
    }
}

.tooltip-content {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: $dark;
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
    border-radius: 0.25rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    pointer-events: none;
    z-index: 1000;

    // Arrow
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border: 0.375rem solid transparent;
        border-top-color: $dark;
    }
}

.tooltip-trigger:hover + .tooltip-content,
.tooltip-trigger:focus + .tooltip-content {
    opacity: 1;
    visibility: visible;
}

.tooltip-content-left {
    left: 0;
    transform: translateX(0);

    &::after {
        left: 1rem;
        transform: translateX(0);
    }
}

// Components

// https://github.com/twbs/bootstrap/blob/v4.6.2/scss/_variables.scss#L178
.clickable {
    cursor: pointer;
    background-color: $light;
    &:hover {
        background-color: shade-color($light, $link-shade-percentage) !important;
        h2 {
            text-decoration: $link-hover-decoration;
        }
        .click {
            color: shade-color($link-color, $link-shade-percentage) !important;
            text-decoration: $link-hover-decoration;
        }
        .circle {
            color: shade-color($link-color, $link-shade-percentage) !important;
        }
    }
}

// https://moderncss.dev/pure-css-smooth-scroll-back-to-top/
// https://www.nngroup.com/articles/back-to-top/
.toppable {
    // "1. Use a Back to Top button for pages that are longer than 4 screens"
    // "7. Consider delaying the appearance of a Back to Top option until after users scroll a few pages"
    // Can't "AND indicate that they want to scroll up" due to performance impact of onScroll event.
    top: 300vh;
    // Can't "2. Place a persistent Back to Top button in the lower right side of the page" due to overlap.
    left: .75rem;
    bottom: 3rem;

    a {
        top: calc(100vh - 5rem);
    }
}
