@font-face {
    font-family: "GTEestiProDisplay-Bold";
    src: url("/static/v1/fonts/GTEestiProDisplay-Bold.otf") format("opentype");
}

@font-face {
    font-family: "GTEestiProText-Regular";
    src: url("/static/v1/fonts/GTEestiProText-Regular.otf") format("opentype");
}

@font-face {
    font-family: "GTEestiProDisplay-Thin";
    src: url("/static/v1/fonts/GTEestiProDisplay-Thin.otf") format("opentype");
}

$body-color: #2f3a26 !default;
$primary: #d6e100;
$success:#d6e100;
$info: #6d78da;

$color-green: #72a735;

$background-light: #eeeeee;
$background-dark: #444444;
$light: #b4b4b6;


$font-family-sans-serif: "GTEestiProText-Regular", "Helvetica Neue", Arial, sans-serif !default;

$headings-font-family: "GTEestiProDisplay-Bold", "Helvetica Neue", Arial, sans-serif !default;

$monospace-font-family: "Roboto Mono", monospace;

$thin-font-family: "GTEestiProDisplay-Thin", "Helvetica Neue", Arial, sans-serif !default;

$btn-padding-y: 1rem !default;
$btn-padding-x: 1.3rem !default;

$btn-padding-y-sm: .7rem !default;
$btn-padding-x-sm: 1rem !default;

$btn-padding-y-lg: 22px !default;
$btn-padding-x-lg: 32px !default;

$btn-font-family: $font-family-sans-serif;
$btn-font-weight: 400 !default;

$btn-border-radius-lg: 0px;