@font-face {
    font-family: "GTEestiProDisplay-Bold";
    src: url("/static//fonts/GTEestiProDisplay-Bold.otf") format("opentype");
}

@font-face {
    font-family: "GTEestiProText-Regular";
    src: url("/static//fonts/GTEestiProText-Regular.otf") format("opentype");
}

$body-color: #2f3a26 !default;
$primary: #d6e100;
$success:#d6e100;


$font-family-sans-serif: "GTEestiProText-Regular", "Helvetica Neue", Arial, sans-serif !default;

$headings-font-family: "GTEestiProDisplay-Bold", "Helvetica Neue", Arial, sans-serif !default;

$monospace-font-family: "Roboto Mono", monospace;

$btn-padding-y: 1rem !default;
$btn-padding-x: 1.3rem !default;

$btn-padding-y-sm: .7rem !default;
$btn-padding-x-sm: 1rem !default;

$btn-padding-y-lg: 22px !default;
$btn-padding-x-lg: 32px !default;

$btn-font-family: $font-family-sans-serif;
$btn-font-weight: 400 !default;

$btn-border-radius-lg: 0px;