@font-face {
    font-family: "GTEestiProDisplay-Bold";
    src: url("/static//fonts/GTEestiProDisplay-Bold.otf") format("opentype");
}

@font-face {
    font-family: "GTEestiProText-Regular";
    src: url("/static//fonts/GTEestiProText-Regular.otf") format("opentype");
}

$body-color: #4A4A4A !default;
$primary: #FF2700;
$secondary: #BCE9FF;
$success: #7AC70C;
$info: #A560EB;
$warning: #FA811B;
$danger: #D33131;
$light: #f8f9fa;
$dark: #848484;
$background-light: #f5f5f5;
$background-dark: #000000;
$blue: #4a90e2;

$font-family-sans-serif: "GTEestiProText-Regular", "Helvetica Neue", Arial, sans-serif !default;

$headings-font-family: "GTEestiProDisplay-Bold", "Helvetica Neue", Arial, sans-serif !default;

$monospace-font-family: "Roboto Mono", monospace;