@import "~bootstrap/scss/mixins";

[v-cloak] {
    display: none;
}

@mixin clickable() {
    cursor: pointer;
}

@mixin colorize-clickable($color) {
    background-color: $color;
    @include clickable();

    &:hover {
        background-color: darken($color, 5%);
    }
}

// Responsive nowrap
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .text#{$infix}-nowrap {
            white-space: nowrap !important;
        }
    }
}
