@import "custom";
@import "breakpoints";
@import '~bootstrap';
@import '~bootstrap-vue';
@import "utils";

html, body {
    height: 100%;
    margin: 0;
}

.main_content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -300px;
}

#footer, .push {
    height: 300px;
}

.logo {
    width: 150px;
    margin-top: 40px;
}

.motto {
    margin-top: 60px;
}

.motto h1 {
    font-size: 48px;
    color: $body-color;
}

.motto h2 {
    font-size: 24px;
    font-family: $font-family-sans-serif;
    color: $body-color;
}

.info {
    margin-top:60px;
}

.info_card {
    padding: 40px 32px 20px 40px;
    border-top-left-radius: 40px;
    background-color: $background-light;
    height: 100%;
}

.info_card h3 {
    font-size: 18px
}

.info_card p {
    margin-top: 30px;
    font-size: 14px;
}

.box_logo {
    width: 30px;
    margin-right: 8px;
}

#footer {
    padding-top: 30px;
    background-color: $background-dark;
    font-size: 14px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
}

#footer h4 {
    font-size: 14px;
}

#footer .logo_vertical {
    width: 88px;
}

#footer .logo_col {
    min-width: 140px;
    max-width: 140px;
}

#footer .connect_col {
    min-width: 150px;
    max-width: 150px;
}

#footer .contact_col {
    min-width: 390px;
    max-width: 390px;
    padding-right: 40px;
}

#footer .footer_link {
    color: white;
    margin-right: 32px;
}

#footer .contact_card {
    padding: 16px 24px;
    border-top-left-radius: 32px;
    border: 3px solid $primary;
    width: 100%;
    font-size: 12px;
}

#footer .contact_card h3 {
    font-size: 20px;
}

#footer .license {
    margin-top: 30px;

    font-size: 11px;
    color: #c4c4c4;
}

#footer .connect_icon > img{
    width: 30px;
    margin-bottom: 18px;
}

.collection-box {
    background-color: $background-light;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 50px 20px 30px;

    .badge {
        background-color: $color-green;
        color: white;
        font-size: 14px;
        font-family: $font-family-sans-serif;
        padding: 10px 20px;
    }

    .label {
        color: $light;
    }

    .link-detail {
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .icon {
            font-size: 24px;

            .chevron {
                color: white;
            }
            .circle {
                color: inherit;
            }
        }

        &:hover .icon .circle {
            color: inherit;
        }
    }

    div[class^='format-'] i {
        font-size: 18px;
    }

    .format-json svg {
        color: $color-green;
    }

    .format-excel svg {
        color: $light;
    }

    .description {
        font-size: 12px;
    }

    .flag {
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 180px;
        height: 90px;
        background-color: white;
        margin-bottom: 20px;
    }
}

.collection-box + .collection-box {
    margin-top: 20px;
}

#search_app {
    .header{
        margin-top: 40px;
        h1, .logo {
            margin: 0;
        }
    }

    h4 {
        margin-bottom: 30px;
    }

    h6 {
        margin-bottom: 20px;
    }


    .link-back {
        margin: 50px 0;
        display: flex;
        align-items: center;
        color: $body-color;
        font-size: 14px;

        .icon {
            font-size: 24px;

            .chevron {
                color: white;
            }
            .circle {
                color: $light;
            }
        }

        &:hover .icon .circle {
            color: inherit;
        }
    }

    .filter {
        .country {
            display: flex;
            flex-wrap: wrap;

            & > div {
                margin-bottom: 15px;
            }

            .delimiter {
                margin: 0 15px;
            }

            .letter {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                &.selected {
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }

        .form-check .form-check-label {
            margin-left: 30px;
        }
    }
}