@import "custom";
@import "breakpoints";
@import '~bootstrap';
@import '~bootstrap-vue';
@import "utils";

*[v-cloak] {
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
}

.main_content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -300px;
}

#header {
    padding-top: 40px;
    padding-bottom: 40px;

    &.dark {
        background-color: $background-dark;
    }

    h1 {
        font-size: 36px;
    }
}

#footer, .push {
    height: 300px;
}

.logo {
    width: 150px;
}

.motto {
    margin-top: 10px;
}

.motto h1 {
    font-size: 48px;
    color: $body-color;
}

.motto h2 {
    font-size: 24px;
    font-family: $font-family-sans-serif;
    color: $body-color;
}

.info {
    margin-top:60px;
}

.info_card {
    padding: 40px 32px 20px 40px;
    border-top-left-radius: 40px;
    background-color: $background-light;
    height: 100%;
}

.info_card.round {
    border-top-left-radius: 40px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info_card h3 {
    font-size: 18px
}

.info_card p {
    margin-top: 30px;
    font-size: 14px;
}

.box_logo {
    width: 30px;
    margin-right: 8px;
}

#footer {
    padding-top: 30px;
    background-color: $background-dark;
    font-size: 14px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
}

#footer h4 {
    font-size: 14px;
}

#footer .logo_vertical {
    width: 88px;
}

#footer .logo_col {
    min-width: 140px;
    max-width: 140px;
}

#footer .connect_col {
    min-width: 150px;
    max-width: 150px;
}

#footer .contact_col {
    min-width: 390px;
    max-width: 390px;
    padding-right: 40px;
}

#footer .footer_link {
    color: white;
    margin-right: 32px;
}

#footer .contact_card {
    padding: 16px 24px;
    border-top-left-radius: 32px;
    border: 3px solid $primary;
    width: 100%;
    font-size: 12px;
}

#footer .contact_card h3 {
    font-size: 20px;
}

#footer .license {
    margin-top: 30px;

    font-size: 11px;
    color: #c4c4c4;
}

#footer .connect_icon > img{
    width: 30px;
    margin-bottom: 18px;
}

.collection-box {
    background-color: $background-light;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 50px 20px 30px;
    font-size: 16px;

    .label {
        color: $light;
    }

    div:has(& > .label) {
        margin-bottom: 15px;
    }

    .link-detail {
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .icon .circle {
            color: inherit;
        }
    }

    .description {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .flag {
        width: 110px;
        height: 70px;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 36px;
    }
}

.collection-box + .collection-box {
    margin-top: 20px;
}

.flag {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    background-color: white;
    border: 1px solid $light;
}

.link-back {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    color: $body-color;
    font-size: 14px;

    &:hover {
        color: $body-color;
    }
}


.chevron-btn {
    font-size: 24px;

    .chevron {
        color: white;
    }
    .circle {
        color: $light;
    }
}

*:hover > .chevron-btn {
    .circle {
        color: inherit;
    }
}


.collection-badge {
    background-color: $color-green;
    color: white;
    font-size: 14px;
    font-family: $font-family-sans-serif;
    padding: 10px 20px;
}

#search_app {
    .header{
        margin-top: 40px;
        h1, .logo {
            margin: 0;
        }
    }

    h4 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    h6 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    div ~ h6 {
        margin-top: 30px;
    }

    .filter {
        font-size: 18px;
        .country {
            display: flex;
            flex-wrap: wrap;

            & > div {
                margin-bottom: 15px;
            }

            .delimiter {
                margin: 0 15px;
            }

            .letter {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                &.selected {
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }

        .form-group.form-check {
            margin-bottom: 10px;

            .form-check-label {
                margin-left: 30px;
            }
        }

        .date {
            width: 100%;

            .dropdown-toggle {
                background-color: transparent;
                border: 1px solid $light;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-right-radius: 24px;
                border-bottom-right-radius: 24px;
                padding: 5px 5px 5px 10px;
                color: $body-color;
                text-align: left;

                .icon {
                    font-size: 24px;

                    .circle {
                        color: $light;
                    }

                    .chevron {
                        color: $dark;
                    }
                }

                &:hover, &[aria-expanded="true"] {
                    .icon {
                        .circle {
                            color: $dark;
                        }

                        .chevron {
                            color: $light;
                        }
                    }
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .b-form-datepicker {
            margin-top: 15px;
            background-color: transparent;
            border: 1px solid $light;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
            display: flex;

            button {
                padding: 5px 10px 5px 5px;
                order: 2;
            }

            label {
                padding: 5px 5px 5px 10px;
                font-size: 16px;
                color: $body-color !important;
                order: 1;
            }
        }
    }
}

.bi-check-circle {
    font-size: 18px;
    color: $color-green;
}

.bi-x-circle {
    font-size: 18px;
    color: $light;
}

.detail-section {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid $light;
}

#detail_app {
    .header-row {
        padding-bottom: 40px;
        font-size: 21px;

        h2 {
            font-size: 36px;
        }

        .label {
            font-family: $headings-font-family;
        }

        .description {
            font-size: 14px;
            margin-bottom: 0;
        }

        [class^=format-] {
            display: inline-block;
            svg {
                font-size: 24px;
            }
        }
    }

    .flag {
        width: 80px;
        height: 80px;
    }

    .link-back {
        margin-top: 50px;
    }

    .info_card {
        padding: 40px;
        height: auto;
    }

    .access-btn {
        display: flex;
        align-items: center;
        font-size: 21px;
        padding: 18px 36px;

        svg {
            font-size: 36px;
        }

        .circle {
            color: inherit;
        }

        .chevron {
            color: $primary;
        }
    }

    .detail-section {
        font-size: 18px;

        & > .label {
            text-align: left;
            h4 {
                font-size: 24px;
                margin-left: 110px;
            }
        }
    }

    .detail-section.overview .data {
        .label {
            display: inline-block;
            color: $light;
            margin-bottom: 10px;
        }
    }

    .detail-section.data {
        .item {
            h6 {
                font-size: 18px;
                font-family: $font-family-sans-serif;
                svg {
                    margin-right: 10px;
                }
            }
            div {
                margin-left: 28px;
                color: $light;
                margin-bottom: 20px;
            }
        }
    }

    .detail-section.quality {
        h6 {
            margin-bottom: 15px;
            font-size: 21px;
        }

        .summary {
            border-radius: 10px;
            background-color: $background-light;
            padding: 20px;
            margin-bottom: 30px;
        }

        .issue {
            svg {
                margin-right: 10px;
            }
        }
    }

    .info_card.access {
        background-color: $success;
        color: $body-color;
        font-size: 18px;

        h2 {
            margin: 0;
            font-size: 36px;
        }

        h3 {
            font-size: 24px;
        }

        p {
            margin: 20px 0;
            font-size: 18px;
        }

        .format-description {
            color: rgba(77, 77, 84, 0.6);
        }

        svg {
            color: $body-color;
            font-size: 24px;
        }

        button {
            background-color: $dark;
            color: $primary;
            padding: 15px 30px;
            font-size: 18px;

            svg {
                margin-right: 15px;
            }

            .circle {
                color: $primary;
            }

            .chevron {
                color: $dark;
            }
        }
    }

    .info_card.helpdesk {
        background-color: $info;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        font-size: 18px;

        a {
            color: white;
            display: flex;
            align-items: center;

            .circle {
                color: white;
            }
            .chevron {
                color: $info;
            }
        }
    }
}